// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
//@import "variables";
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "theme/landing/landing.style";
@import 'site/carousel';

$color-main-1: #3baaa7;
$color-main-2: #ed9e1b;
$color-main-3: #b91d66;
$color-main-4: #80b941;

.footer {
  height: 540px;
  width: 100%;
  position: relative;
  padding: 60px 0 0 0;
  background-image: -moz-linear-gradient(left, #3baaa7 0%, #80b941 32%, #ed9e1b 61%, #b91d66 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #3baaa7), color-stop(0.32, #80b941), color-stop(0.61, #ed9e1b), color-stop(1, #b91d66));
  background-image: -webkit-linear-gradient(left, #3baaa7 0%, #80b941 32%, #ed9e1b 61%, #b91d66 100%);
  background-image: -o-linear-gradient(left, #3baaa7 0%, #80b941 32%, #ed9e1b 61%, #b91d66 100%);
  background-image: -ms-linear-gradient(left, #3baaa7 0%, #80b941 32%, #ed9e1b 61%, #b91d66 100%);
  background-image: linear-gradient(to right, #3baaa7 0%, #80b941 32%, #ed9e1b 61%, #b91d66 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3baaa7,endColorstr=#ffb91d66)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3baaa7, endColorstr=#ffb91d66);
}
